<div class="input-group" style="width: 300px">
      <input type="text" class="form-control">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
</div><!-- /input-group -->

计算得出的速度为：
<div id="test">300</div>
将这个速度乘以3,得到结果。

<p>另一种可能是abcdefghijklmnopqrstuvwklkdsafjkaldfaldjdlaf...</p>
